@import '../../app.scss';

.comments{
    @include themify($themes){
        .text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin: 20px 0px;
            width: 100%;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            input{
                flex:5;
                padding: 10px;
                border: 1px solid themed("border");
                background: transparent;
                outline: none;
                color: themed("text-color");
            }
            button{
                border: none;
                padding: 6px;
                cursor: pointer;
                color: white;
                background-color: rgb(79,168,235);
                border-radius: 3px;
            }
        }
        .comment{
            margin: 30px 0px;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .info{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;
                
                span{
                    font-weight: 500;
                }
                p{  
                    color: themed("textColorSoft");
                    font-size: 12px;
                }
            }
            .date{
                flex: 1;
                align-self: center;
                color: gray;
                font-size: 12px;
            }
        }
    }
}