.signup{
    height: 100vh;
    background-color: #ffffff;
    // background: linear-gradient(rgba(24, 149, 245, 0.173),rgba(63, 102, 200, 0.515));
    display: flex;
    align-items: center;
    justify-content: center;
        .card{
            width: 50%;
            display: flex;
            flex-direction: row-reverse;
            background-color: white;
            overflow: hidden;
            border-radius: 10px;
            min-height: 600px;
            .left{
                flex: 1;
                background: url("https://images.pexels.com/photos/4672553/pexels-photo-4672553.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"), 
                center;
                background-size: cover;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                gap: 20px;
                span{
                    color: white;
                }
                button{
                    width: 100%;
                    padding: 5px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border: none;
                    border-radius: 10px;
                    background-color: white;
                    color: rgb(1,110,141);
                    font-size: 12px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            .right{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 50px;
                gap: 30px;
                border: 1px solid lightgray;
                h1{
                    color: #333;
                    text-align: center;
                }
                p{ 
                    color: #555;
                    font-weight: bold;
                    text-align: center;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    input{
                        background: transparent;
                        padding: 10px 20px;
                        border-radius: 20px;
                        border: 1px solid lightgray;
                        outline: none;
                        color: #222;
                        font-size: 10px;
                    }
                    button{
                        background-color: rgb(1,110,141);
                        color: white;
                        font-size: 12px;
                        font-weight: bold;
                        border-radius: 20px;
                        border: none;
                        padding: 10px;
                        margin-top: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
}